<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog List</title>
  </head>
  <body>
    <h1>All Blogs</h1>
    <a href="/blogs/new">Create a New Blog</a>
    <ul>
      <% blogs.forEach(blog => { %>
      <li>
        <a href="/blogs/<%= blog._id %>"><%= blog.title %></a>
        - <a href="/blogs/<%= blog._id %>/edit">Edit</a> -
        <a href="/blogs/<%= blog._id %>/delete">Delete</a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
